{% schema %}
{
  "name": "TripleSeat Form Embed",
  "tag": "section",
  "class": "section-tripleseat-form",
  "presets": [
    {
      "name": "TripleSeat Form Embed",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="tripleseat-form-embed container">
  <script
    src="https://api.tripleseat.com/v1/leads/ts_script.js?lead_form_id=42627&public_key=bbacf7672ead47a678f485986bbd6d57b4089ac7"
  ></script>
  <a
    id="tripleseat_link"
    href="http://click.tripleseatlinks.com/ls/click?upn=u001.iGTywJA-2BhtZkCULr1EDJSRf7-2FRAPDtQF-2FqVezpYZbSqk12zkiQTpCd-2BZMHzJWSO8NSvE_nk0cSttqZl0SmpO-2BxqLedpyHeMX4dHxGSSzTHAwo9fYOxaBEX9PKxWIdmXY0o0-2FJm1sDVvo3sfz-2Ff8cPZtbD3R7j17Uj4WTtgDb8YWKIUlt2IKK0pzmsR2Mwm9OUK-2BJVpNjuXS8VPy8mxCIdKWIFR-2F6b-2FXHshdFaUeXBtiAxX8pxgaEuJ9B0u2Mv0eXo1p9tNg4oi-2BcUHlF66zN7V88zvw-3D-3D"
    >Private Event Software powered by Tripleseat</a
  >
</div>
